.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
  border: #3b444f solid 1px;
}

.profileSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.textSection {
  display: flex;
  justify-content: flex-start;
  color: rgb(219, 215, 215);
  padding: 15px;
}

.likeSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  color: rgb(219, 215, 215);
}

.profileIcon {
  padding-right: 10px;
  color: #fff;

  padding: 15px;
  border-radius: 50px;
  background-color: #4d8bc2;
}

.likeIcon {
  padding-right: 10px;
}

.deleteIcon {
  padding-left: 20px;
}

.profileFirstname {
  font-weight: bold;
  color: rgb(219, 215, 215);
  padding-right: 5px;
  padding-left: 10px;
}

.profile {
  font-weight: normal;
  color: #5a6475;
}

.profiledate {
  font-weight: normal;
  color: #5a6475;
  padding-left: 5px;
}
